.images {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image {
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #EF1851;

    display: inline-flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

.image-value {    
    height: 300px;
    width: auto;
}

.image-description {
    padding: 10px;
    margin: 0;
    color: #FF8DB3;
}