.App {
    text-align: center;
    background-color: #DDFFEF;
  }
  
.App-header {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #87D37B;
}
  
.result {
    color: #87D37B;
    font-size: calc(14px + 2vmin);
}
  