.App {
  text-align: center;
  background-color: #DDFFEF;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #87D37B;
}

.App-link {
  color: #61dafb;
}

.result {
  color: #87D37B;
  font-size: calc(14px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
