@font-face {
  font-family: 'Roboto', 'Poppins', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");  
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDFFEF;
  margin: 0 auto;
  width: 80vw;
  max-width: 1024px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
}

@media (max-width: 740px) {
  body {
    width: 100vw;
  }
}