nav {
    height: 10vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: stretch;
}

li {
    display: flex;
    align-items: flex-end;  
}

.link {
    padding: 20px;
    text-decoration: none;
    font-size: calc(6px + 2vmin);
    font-family: 'Roboto', sans-serif;
}

.text {
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-align: center;

    &:hover {
        color: #EF1851;
        background-color: #87D37C;
    }
}

.logo {
    height: 100%;

    img {
        width: auto;
        height: 100%;
    }
}